torch==2.0.1
torchvision==0.15.2
albumentations>=0.5.2,<=1.0.0
facenet_pytorch==2.5.2
hydra-core==1.1.1
matplotlib
numpy
opencv-python==4.6.0.66
pandas
Pillow
pytorch-lightning
scikit-learn==0.23
timm==0.8.13.dev0
tqdm